header {
    background-color: #e8c5f8;
    color:#865f9c;
    padding: 15px;
    text-align: center;
}
body{
    background-color:  #f7bfe0;
    ;
}
nav li{
  display: inline; 
  margin-right: 15%;
}
nav ul{
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: rgb(96, 39, 150);
}

section{
    margin-bottom: 5%;
}
footer{
    background-color: #e8c5f8;
    color: #865f9c;
    text-align: center;
    padding: 5%;
}

h1{
   font-size: 300%;
   text-align: center;
}
h2{
    font-size: 200%;
    text-align: center;
}
p{
    font-size: 100%;
    text-align: center;
}